#footer {
 backdrop-filter: blur(1px);
}

.footer-wrapper {
    height: 10em;
    width: calc(100vw - 2em);
    border-radius: 4em;
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.footer-left {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-center {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shapedibles {
    height: 40%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    filter: drop-shadow(0 0 30px rgba(var(--primary),0.6));
}

.shapedibles:hover {
    cursor: pointer;
    
}

.shapedibles .logo a {
    height: clamp(75%,15vw,150%);
    margin-right: 0.5em;
}

.shapedibles:hover > a{
    width: 100%;
}

.shapedibles:hover .logo img{
    rotate: -4deg;
    filter: invert(81%) sepia(24%) saturate(5645%) hue-rotate(0deg) brightness(105%) contrast(104%) drop-shadow(0 10px 20px rgba(var(--primary),0.5));
    transform: translateY(-5px);
}

.shapedibles img {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    margin: 0 -1em;
}

.shapedibles > a {
    width: 0;
    overflow: hidden;
    font-size: clamp(2em, 10vw, 4em);
    text-decoration: none;
    letter-spacing: -0.05em;
    color: rgba(var(--primary), 0.8);
    transition: width 0.5s ease-out;
}