# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Generate Classpath
      run: mvn dependency:build-classpath -Dmdep.outputFile=cp.txt

    - name: Setup OpenJML
      run: |
        wget https://github.com/OpenJML/OpenJML/releases/download/0.22.1/openjml-ubuntu-22.04-0.22.1.zip -O openjml.zip
        unzip openjml.zip -d openjml-dist
        chmod +x openjml-dist/openjml

    - name: Run JML Static Analysis on Model
      run: |
        ./openjml-dist/openjml -dir SwD-Shapedibles/src/main/java/model -classpath $(cat cp.txt)

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Publish to GitHub Packages Apache Maven
      run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}
